<!DOCTYPE html>
<html>
<head>
	<script src="../../socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="scripts/join.js"></script>
	<link rel="icon" href="images/icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<title>LectureChat - <%= room %></title>
</head>
<body>

	<%- include('../../partials/responsiveHeader3') %>
	<!-- <nav class="flex-container header">
		<div id="online-container">
		<div id="num-online"><p>Online: </p><p id="num">0</p>
		<div id="online"></div></div>
		</div>
	  <div id="logo">LectureChat - <%= room %></div>
		<div id="links">
		   <div><a href="/">Join Room</a></div>
	     <div><a href="/about">About</a></div>
			 <div><a href="/admin">Admin</a></div>
	     <div><a href="/logout">Logout</a></div>

		</div>
	</nav> -->


<div class="main"></div>
<div class="flex-container chatbox_container">
  <div><input autocomplete="off" autofocus="on" placeholder="Type your message here..." id="chatbox"></div>
  <div id="send">Send</div>
</div>
</body>
</html>
