<!-- Chat room page -->
<html>
	<!-- Configure the head -->
	<%- include('../../partials/mainHead', {room : room}) %>
	<body>
		<!-- Get the navigation bar -->
		<%- include('../../partials/mainHeader') %>

		<!-- Main content -->
		<div class="main"></div>
			<div class="flex-container chatbox_container">

				<!-- Chatbox -->
		  	<div><input autocomplete="off" autofocus="on" placeholder="Type your message here..." id="chatbox"></div>

				<!-- Button to send message -->
				<div id="send">Send</div>
			</div>
		</div>
	</body>
</html>
