<!-- Register page -->
<html>
	<!-- Configure the head -->
	<%- include('../../partials/head.ejs', {title: "Register"}) %>
	<body>
		<!-- Get the navigation bar -->
		<%- include('../../partials/headerSwitch') %>

		<!-- Main content -->
		<main class=main_join>
			<div class="join_box">
				<div class="jbox">
					<!-- Heading -->
					<p>Register</p>
					<div id="join_container">

						<!-- Register form -->
						<form id="reg-form">
							<!-- Username, password & confirm password fields -->
							<label>Username: </label><input autofocus="on" id="username" class="input" maxlength="15">
							<div class="password-container"><label>Password: </label><input type="password" id="password" class="input" maxlength="10"><img src="images/show-password.svg" id="show"></div>
							<div class="password-container"><label>Confirm Password: </label><input type="password" id="confirm" class="input" maxlength="10">	<img src="images/show-password.svg" id="show-confirm"></div>
						</form>
						<br>

						<!-- Submit button -->
						<div id="register-btn" class="btn">Register</div>

						<!-- Server response message -->
						<p id="msg"></p>

						<!-- Navigate to login if already have account -->
						<p>Already have an account? <a href="/login">Login</a> here.</p>

					</div>
				</div>
			</div>
		</main>
	</body>
</html>
