<!-- The chat room has its own head -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../../socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="scripts/deployment/main.min.js"></script>
	<link rel="icon" href="images/icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style/style.min.css">
	<title>LectureChat - <%= room %></title>
</head>
