<!DOCTYPE html>
<html>
<%- include('../partials/head', {title: "About"}) %>
<body>
<%- include('../partials/headerSwitch') %>

<div class="main">
  <div class="about_box">
  	<div class="question">What is LectureChat?</div>
  	<div class="answer">LectureChat is a instant messaging application that links you with fellow students, so you can discuss, exchange notes and messages during a lecture.</div>
  </div>



	<div class="about_box2">
		<div class="about_box">
		<div class="question">How do you use LectureChat?</div>
		<div id="how"class="answer">Using LectureChat is easy! All you need to do is login (or register if you haven't already), then join a lecture to start chatting to your friends. To send a message, simply type a message in the box and press send.</div>
	</div>
</div>

	<div class="about_box">
		<div class="question">I am an admin user, what additional features are available to me?</div>
		<div class="answer">Admin users have the ability to create new lecture rooms and to delete old ones.</div>
	</div>


</div>
</body>
</html>
