<html>
<head>
<title>Add Rooms</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../socket.io/socket.io.js"></script>
<script src="scripts2.js"></script>
</head>

Room Name: <input type="text" id="addroom"></input>
<button id="addroom-btn">Add Room</button>
<button id="getroom-btn">Get Room</button>
<p id="msg"></p>
</body>
</html>
