<!DOCTYPE html>
<html>
<head>
  <script src="../../socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="scripts.js"></script>
	<link rel="icon" href="favicon-32x32.png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="nustyle.css">
</head>
<body>

<div class="flex-container header">
  <div id="logo">LectureChat - Delete</div>

	<div id="links">
  <div><a href="sample_about.html">About</a></div>
  <div><a href="#">Logout</a></div>
	</div>
</div>
<div class=main_join>
<div class="join_box">
<div class="jbox">
	<p>Delete a room</p>
	<div id="join_container">
		<input placeholder="Type the name of a room to remove here..." id="delete-input">
	<div id="delete-btn">Delete</div>
</div>
</div>
</div>
</div>

</body>
</html>
