<!DOCTYPE html>
<html>
<head>
  <script src="../../socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="scripts.js"></script>
	<link rel="icon" href="favicon-32x32.png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="nustyle.css">
</head>
<body>

<div class="flex-container header">
  <div id="logo">LectureChat - Edit Privileges</div>

	<div id="links">
  <div><a href="/about">About</a></div>
  <div><a href="/delete">Delete</a></div>
  <div><a href="#">Logout</a></div>
	</div>
</div>
<div class=main_join>
<div class="join_box">
<div class="jbox">
	<p>Edit user privileges</p>
	<div id="join_container">
		<input placeholder="Type the username of a user here..." id="priv-user-input">
    <select id="priv-input">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
	<div id="priv-btn">Edit</div>
</div>
</div>
</div>
</div>

</body>
</html>
