<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs', {title: "Edit User Privileges"}) %>
<body>

<%- include('../partials/headerSwitch') %>

<div class=main_join>
<div class="join_box">
<div class="jbox">
	<p>Edit user privileges</p>
	<div id="join_container">
		<input placeholder="Type the username of a user here..." id="priv-user-input">
    <select id="priv-input">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
	<div id="priv-btn">Edit</div>
  <p id="msg"></p>
</div>
</div>
</div>
</div>

</body>
</html>
