<!DOCTYPE html>
<html>
<%- include('../partials/head', {title: "Join A Room"}) %>
<body>
<%- include('../partials/headerSwitch') %>

<div class=main_join>
<div class="join_box">
<div class="jbox">
	<p>Join a room!</p>
	<div id="join_container">
		<form id="jform" action="/chat" method="GET" >
		<select name="room" id="join-input">
			<% rooms.forEach(function(room){ %>
				<option value="<%= room.room %>"><%= room.room %></option>
			<% }); %>
		</select>
	</form>
	<div id="join-btn">Join</div>
	<p id="msg"></p>
</div>
</div>
</div>
</div>

</body>
</html>
