<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs', {title: "Login"}) %>

<body>

<%- include('../partials/headerSwitch') %>

<div class=main_join>
<div class="join_box">
<div class="jbox">
	<p>Login</p>
	<div id="join_container">
		<form>
		<label>Username: </label><input autofocus="on" id="username">
		<div class="password-container"><label>Password: </label><input type="password" id="password"></form>
				<img src="images/show-password.svg" id="show">
			</div>
			<br>
	<div id="login-btn" class="btn">Login</div>


	<p id="msg"></p>
	<p>Don't have an account? <a href="/register">Register</a>  here. </p>

</div>
</div>
</div>
</div>

</body>
</html>
