<html>
<head>
<title>Register</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="scripts2.js"></script>
</head>


Username: <input type="text" id="username"></input>
Password: <input type="password" id="password"></input>
<button id="register-btn">Register</button>
<p id="msg"></p>
</body>
</html>
