<!DOCTYPE html>
<html>
  <%- include('../../partials/head.ejs', {title: "Add Room"}) %>
  <body>
      <%- include('../../partials/headerSwitch') %>

      <main class=main_join>
        <div class="join_box">
          <div class="jbox">
	           <p>Add a room</p>
	           <div id="join_container">
               <form>
		             <input placeholder="Type the name of a room to add here..." id="addinput" autofocus="on" maxlength="25">
                 <div class="admin-button-container">
             		    <a href="/admin"><div class="btn">Back</div><a/>
                    <div id="add-btn" class="btn admin-control-btn">Add</div>
                 </div>
               </form>
                 <p id="msg"></p>
               </div>
             </div>
           </div>
         </main>
       </body>
</html>
