<!DOCTYPE html>
<html>
	<!-- Loads the head files for the page -->
	<%- include('../../partials/head', {title: "Admin Portal"}) %>
	<body>
		<!-- Loads the navigation bar for the page -->
		<%- include('../../partials/headerSwitch') %>

		<!-- Main section of the page -->
		<main class=main_join>
			<!-- Box that holds all the main content of the page -->
			<div class="join_box">
				<!-- Contains the box items -->
				<div class="jbox">
					<p>Admin Portal</p>
					<!-- Contains the interface elements -->
					<div id="admin_container">

						<!-- Link buttons -->
						<!-- Add room button -->
						<a href="/admin/room/add">
							<div id="admin-add-btn" class="btn">Add Room</div>
						</a>

						<!-- Delete room button -->
						<a href="/admin/room/delete">
							<div id="admin-delete-btn" class="btn">Delete Room</div>
						</a>

						<!-- Only load Edit User Privliges button if high level admin -->
						<% if(privilege == "3"){ %>
							<a href="/admin/privileges">
								<div id="admin-edit-btn" class="btn">Edit User Privileges</div>
							</a>
						<% } %>

					</div>
				</div>
			</div>
		</main>
	</body>
</html>
