<!-- Page to remove a room from the database -->
<html>
	<!-- Configure head -->
	<%- include('../../partials/head.ejs', {title: "Delete Room"}) %>
	<body>
		<!-- Get navigation bar -->
		<%- include('../../partials/headerSwitch') %>

		<!-- Main content -->
		<main class=main_join>
			<div class="join_box">
				<div class="jbox">
					<!-- Heading -->
					<p>Delete a room</p>
						<div id="join_container">

							<!-- Form to delete a room -->
							<form>
								<!-- Select box listing existing rooms -->
	    					<select autofocus="on" name="room" id="delete-input" class="input">
									<!-- Get all rooms from server -->
									<% rooms.forEach(function(room){ %>
										<!-- Add option for each room -->
										<option value="<%= room.room %>"><%= room.room %></option>
									<% }); %>
								</select>

								<!-- Buttons -->
								<div class="admin-button-container">
									<a href="/admin"><div class="btn">Back</div><a/>
										<div id="delete-btn" class="btn admin-control-btn">Delete</div>
								</div>
							</form>

							<!-- Displays server response message -->
  						<p id="msg"></p>

						</div>
					</div>
				</div>
			</main>
		</body>
</html>
